{% include 'header.html' %}
{% include 'flash.html' %}

<style>
body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: linear-gradient(to right, #221C23, #c1bdb1);
    background-repeat: no-repeat
}

input,
textarea {
    background-color: #F3E5F5;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #F3E5F5 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #221C23 !important;
    outline-width: 0;
    font-weight: 400
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.card {
    border-radius: 0;
    border: none
}

.card1 {
    width: 50%;
    padding: 40px 30px 10px 30px
}

.card2 {
    width: 50%;
    background-image: linear-gradient(to right, #c1bdb1, #221C23)
}

#logo {
    width: 70px;
    height: 60px
}

.heading {
    margin-bottom: 60px !important
}

::placeholder {
    color: #000 !important;
    opacity: 1
}

:-ms-input-placeholder {
    color: #000 !important
}

::-ms-input-placeholder {
    color: #000 !important
}

.form-control-label {
    font-size: 12px;
    margin-left: 15px
}

.msg-info {
    padding-left: 15px;
    margin-bottom: 20px
}

.btn-color {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right, #c1bdb1, #221C23);
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 20px
}

.btn-color:hover {
    color: #fff;
    background-image: linear-gradient(to right, #221C23, #c1bdb1)
}

.btn-white {
    border-radius: 50px;
    color: #221C23;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #221C23 !important
}

.btn-white:hover {
    color: #fff;
    background-image: linear-gradient(to right, #c1bdb1, #221C23)
}

a {
    color: #000
}

a:hover {
    color: #000
}

.bottom {
    width: 100%;
    margin-top: 10px !important
}

.sm-text {
    font-size: 15px
}

@media screen and (max-width: 992px) {
    .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px
    }

    .card2 {
        width: 100%
    }

    .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px !important
    }

    .card2 {
        padding: 50px
    }

    .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important
    }
}
</style>


<div class="container px-4 py-5 mx-auto">
    <div class="card card0">
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="card card1">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-10 my-5">
                        <div class="row justify-content-center px-3 mb-3"> <img id="logo" src="https://i.pinimg.com/originals/8d/2d/1c/8d2d1c5e0ee9e5141f1fc51567dba572.png"> </div>
                        <h3 class="text-center heading">Menrva</h3>
                        <form method="POST" action="{{url_for('ui_register')}}">
                            <div class="form-group"> <label class="form-control-label">Enter your Name</label> 
                                <input type="text" id="name" name="name" class="form-control" required>
                            </div>
	                        <div class="form-group"> <label class="form-control-label">Enter your Email</label> 
	                        	<input type="text" id="email" name="email" class="form-control" required>
	                        </div>
	                        <div class="form-group"> <label class="form-control-label">Enter Password</label> 
	                        	<input type="password" id="password" name="password" class="form-control" required> 
	                        </div>
                            <div class="form-group"> <label class="form-control-label">Confirm Password</label> 
                                <input type="password" id="password_cnf" name="password_cnf" class="form-control" required> 
                            </div>
                            <div class="form-group"> <label class="form-control-label">Enter your phone number</label>
                                <input type="text" id="phone_num" name="phone_num" class="form-control">
                            </div>
                            <div class="form-group"> <label class="form-control-label">Enter your Age</label>
                                <input type="number" id="age" name="age" class="form-control">
                            </div>
                            <div class="form-group"> <label class="form-control-label">Select your Gender</label>
                                <select class="form-control" id="gender" name="gender">
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Other">Others</option>
                                </select>
                            </div>
                            <div class="form-group"> <label class="form-control-label">Enter your profession</label>
                                <input type="text" id="profession" name="profession" class="form-control">
                            </div>
                            <div class="form-group"> <label class="form-control-label">Enter your city</label>
                                <input type="text" id="city" name="city" class="form-control">
                            </div>
                            <hr/>
                            <p>Kindly answer below Health questions</p>
                            <div class="form-group"> <label class="form-control-label">Have you ever suffered from suicidal thoughts?</label>
                                <input type="text" id="answer_1" name="answer_1" class="form-control">
                            </div>
                            <div class="form-group"> <label class="form-control-label">Are you suffering from panic attack?</label>
                                <input type="text" id="answer_2" name="answer_2" class="form-control">
                            </div>
                            <div class="form-group"> <label class="form-control-label">Are you spiritual?</label>
                                <input type="text" id="answer_3" name="answer_3" class="form-control">
                            </div>
                            <div class="form-group"> <label class="form-control-label">Is your financial condition bothering you?</label>
                                <input type="text" id="answer_4" name="answer_4" class="form-control">
                            </div>
	                        <div class="row justify-content-center my-3 px-3"> 
	                        	<button type="submit" class="btn-block btn-color">Create Account</button> 
	                        </div>
	                    </form>
                    </div>
                </div>
            </div>
            <div class="card card2">
                <div class="my-auto mx-md-5 px-md-5 right">
                    <h3 class="text-white">Your information is safe with us!</h3> <small class="text-white">Mental health includes our emotional, psychological, and social well-being. It affects how we think, feel, and act. It also helps determine how we handle stress, relate to others, and make choices. Mental health is important at every stage of life, from childhood and adolescence through adulthood</small>
                    <h3 class="text-white mt-5">WHO Guidlines</h3> <small class="text-white">The WHO stress that mental health is “more than just the absence of mental disorders or disabilities.” Peak mental health is about not only avoiding active conditions but also looking after ongoing wellness and happiness. They also emphasize that preserving and restoring mental health is crucial on an individual basis, as well as throughout different communities and societies the world over.</small>
                    <h3 class="text-white mt-5">Overview</h3> <small class="text-white"><ul><li>
                    Mental health problems are common. Up to 1 in 4 people have experienced mental illness.</li>
                    <li>You may want support if you have noticed changes in the way you think or feel which cause problems in your day-to-day life.</li>
                    <li>If you think you need help, it’s best to get support and treatment as soon as you can. Seeking help early can speed up your recovery.</li>
                    <li>You can get support and treatment from the NHS and from other places too. There are also things you can do to help yourself.</li></ul></small>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'footer.html' %}
